@{ Layout = "_UserPannelLayout.cshtml";}

@{
    ViewBag.Title = "用户操作台";
}


@section SideNav{@Html.Partial("SideNavPartialView")}

<div class="col-sm-6">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-cloud"></span> 当前在线的考试</h3>
        </div>
        <div class="panel-body">
            <p>标题：20160909常规测验</p>
            <p>总题数：40题</p>
            <p>总时间：45分钟</p>
            <p>总分：100分</p>
            <p>状态：未开始</p>
            <p>说明：对本周学习情况进行基础测试和巩固</p>
            <p>@Html.ActionLink("点击开始", "Index", "User", new { area = "" }, new { @class = "btn btn-primary" })</p>
        </div>
    </div>
</div>

<div class="col-sm-6">
    <div class="panel panel-danger">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-pencil"></span> 我正在进行的考试</h3>
        </div>
        <div class="panel-body">
            <p>标题：20160909常规测验</p>
            <p>总题数：40题</p>
            <p>总时间：45分钟</p>
            <p>总分：100分</p>
            <p>状态：已开始，未完成</p>
            <p>说明：对本周学习情况进行基础测试和巩固</p>
            <p>@Html.ActionLink("点击继续", "Index", "User", new { area = "" }, new { @class = "btn btn-danger" })</p>
        </div>
    </div>
</div>

<div class="col-sm-6">
    <div class="panel panel-success">
        <div class="panel-heading">
            <h3 class="panel-title"><span class="glyphicon glyphicon-ok"></span> 已完成的考试</h3>
        </div>
        <div class="panel-body">
            <p>标题：20160909常规测验</p>
            <p>总题数：40题</p>
            <p>总时间：45分钟</p>
            <p>总分：100分</p>
            <p>状态：未开始</p>
            <p>说明：对本周学习情况进行基础测试和巩固</p>
            <p>@Html.ActionLink("点击查看", "Index", "User", new { area = "" }, new { @class = "btn btn-success" })</p>
        </div>
    </div>
</div>
